ul:not(.browser-default) li {
    list-style-type: disc;
}

.txt-color{
    color:#3094B0;
}

.txt-color-green{
    color : #006400;
}

.password-info-text {
    font-size: 1rem;
    line-height: 1.5;
}

.password-info-text-margin {
    margin-top: 1rem;
}